[submodule "gigachat_api"]
	path = gigachat_api
	url = git@github.com:ncdbzb/gigachat_api.git
[submodule "react"]
	path = react
	url = git@github.com:Semen-Zharkov/frontend.git
[submodule "fast_api"]
	path = fast_api
	url = git@github.com:ncdbzb/udv_llm_fastapi.git
