*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}
body{
    font-family: "Inter";
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
.aboutProject{
    background-image: url("../img/background-all3.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    top: 0px;
}
/* шапка сайта */
.site-navigation{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 160px;
    align-items: center;
}
.site-navigation-item a{
    display: block;
    color:#fff;
    text-decoration: none;
    margin-right: 90px;
    margin-top: 18px;
    margin-bottom: 6.75px;
}
.site-navigation-item{
    font-size: 24px;
    font-weight: 700;
}
.nav-gigaShad{
    font-size: 36px;
    font-weight: 400;
}
.nav-about-project{
    font-size: 36px;
    font-weight: 400;
}
/* кнопки в шапке */
.button{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 80px;
}
.btn-promo p{
    padding: 0;
    margin: 0;
}
.button a{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #366;
    border-radius: 45px;
    text-decoration: none;
    color: #fff;
}
.button a:hover{
    opacity: 0.7;
}

/* контент страницы */
/* Промо */
.main-promo{
    display: flex;
    flex-direction: column;
    background-image: url("../img/background.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 610px;
    padding-bottom: 165px;
}
.main-promo p{
    padding: 0;
    margin: 0;
}
.commonGigaShad{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 100px;
    font-weight: 700;
    border-radius: 30px;
    justify-content: center;
    color: #000;
}
.promoTable{
    margin-right: auto;
    margin-left: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #000;

}
.promoTable p{
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}
.promoTable a{
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    width: 0px;
}

/* О проекте */
/* .aboutProject{
    border-top: 57px solid #000;
} */
.aboutProject-text{
    padding-top: 50px;
}
.criterion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 216px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.criterion-item img{
    margin-bottom: 20px;
}
.criterion-item p{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 80px;
}
.aboutProject a{
    display: inline table;
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #000;
    width: 224px;
    padding: 11px 0px;
    margin-bottom: 80px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
}














.h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}


/* Стили для файла request */
/* Фон для страницы создания тестов и вопросно-ответной страницы */
.body-request{
    background-image: url("../img/background-all.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    top: 0px;
}
/*Стили для страницы request*/
.form_question{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 736px;
}
.form-title{
    display: flex;
    margin: 0;
    padding: 0;
    padding: 22px 176px 22px 14px;
    margin-bottom: 70px;
    margin-top: 109px;
    background-image: url("../img/plateTest.png");
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 400;
    
}
textarea[name="text_for_search_answers"]{
    width: 706px;
    padding: 23px 15px;
}
textarea[name="asked_questions_text"]{
    width: 706px;
    padding: 23px 15px;
}
.form-text-generation{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
textarea{
    width: 100%;   
    height: 150px;
    border-style: none;
    background: #D6D6D6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #000;
    resize: none;font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[name="text-number-of-questions"]{
    border-style: none;
    width: 256px;
    height: 48px;
    background-image: url("../img/countQuestions.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 299px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 21px;
}
input[name="text-number-of-questions"]::placeholder{
    color: #fff;
}
textarea::placeholder{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    min-width: 736px;
}
input[name="file"]{
    width: 160px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
}
.input-file label{
    display: inline-block;
    width: 160px;
    height: 50px;
    background-image: url("../img/addFile.png");
    background-size: 100% 100%;
    border-radius: 20px;
}
.input-file span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}
.input-file:hover{
    opacity: 0.8;
}
.input-file:active{
    opacity: 0.6;
}

.text-questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: space-between;
    margin-top: 30px;
}

input[name="text-questions"]{
    width: 500px;
    height: 49px;
    background-color: #000;
    color:#fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-style: none;
    margin-right: 76px;
}
input[name="send"]{
    width:160px;
    height:50px;
    border-radius:20px;
    background-image: url("../img/buttonCreate.png");
    border-style: none;
    color:#fff;
    font-size:18px;
    cursor:pointer;
        
}
input[name="send"]:hover{
    opacity: 0.7;
}
input[name="send"]:active{
    opacity: 0.5;
}
#gen_que_output{
    display: flex;
    margin: 0  auto;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 15px;
    color: #000;
    width: 736px;    
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    text-align: left;
}

/* стили для страницы test */
/* Форма генерации ответов на вопрос */
.form{
    display: flex;
    justify-content: center;
    min-width: 736px;
}
textarea[name="text-generation"]{
    padding: 23px 15px;
}
input[name="sends"]{
    width:160px;
    height:50px;
    border-radius:20px;
    background:#2AD91B;
    border-style: none;
    color:#fff;
    font-size:18px;
    cursor:pointer;
        
}
textarea[name="text_question"]{
    margin-bottom: 40px;

}
.text_question{
    margin-bottom: 40px;
}
.input_file_question{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 416px;
    margin-top: 20px;
    margin-bottom: 40px;
}
#answer_output{
    display: flex;
    margin: 0  auto;
    margin-bottom: 60px;
    color: #000;
    width: 678px;
    padding: 0px 15px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    text-align: left;
} 